<div class="header">
	<h1>VBH Systems</h1>
	<button
		mat-stroked-button
		onclick="window.open('https://psono.xim-intern.net/#!/')"
	>
		<img src="../assets/hero.png" alt="" /> PSONO
	</button>
</div>

<div class="button-row">
	<button
		mat-flat-button
		[routerLink]="['/integration']"
		routerLinkActive="active"
	>
		Integration
	</button>
	<button
		mat-flat-button
		[routerLink]="['/pre-production']"
		routerLinkActive="active"
	>
		Pre-Production
	</button>
	<button
		mat-flat-button
		[routerLink]="['/production']"
		routerLinkActive="active"
	>
		Production
	</button>
</div>

<router-outlet></router-outlet>
