.example-card {
	width: 500px;
	height: auto;
	position: relative;
	display: block;
	margin: 0 auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
	border-radius: 10px;
}

.sec {
	padding-top: 20px;
}

.row {
	display: flex;
	justify-content: space-between;
}

span {
	position: relative;
	font-style: italic;
	display: inline-block;
	transform: rotate(-2deg);
	background: #20aa8e;
}
