<mat-card class="example-card">
	<mat-card-title>Pre-Production Edit</mat-card-title>
	<mat-card-subtitle>Back Office</mat-card-subtitle>
	<mat-card-actions>
		<button
			mat-stroked-button
			onClick="window.open('https://pre-edit-ish07-vbh24.fse.intershop.de/INTERSHOP/web/BOS/SLDSystem')"
		>
			Back Office
		</button>
	</mat-card-actions>
	<mat-divider></mat-divider>
	<mat-card-title class="sec">Pre-Production Edit</mat-card-title>
	<mat-card-subtitle>Storefront</mat-card-subtitle>
	<mat-card-actions class="row">
		<button
			mat-flat-button
			onClick="window.open('https://pre-edit-ish07-vbh24.fse.intershop.de/INTERSHOP/web/WFS/VBHBE-VBH_BE-Site/nl_BE/smb-responsive/EUR/ViewHomepage-Start')"
		>
			Belgien
		</button>
		<button
			mat-flat-button
			onClick="window.open('https://pre-edit-ish07-vbh24.fse.intershop.de/INTERSHOP/web/WFS/VBHDE-VBH_24-Site/de_DE/smb-responsive/EUR/ViewHomepage-Start')"
		>
			Deutschland
		</button>
		<button
			mat-flat-button
			onClick="window.open('https://pre-edit-ish07-vbh24.fse.intershop.de/INTERSHOP/web/WFS/VBHES-VBH_ES-Site/es_ES/smb-responsive/EUR/ViewHomepage-Start')"
		>
			Spanien
		</button>
		<button
			mat-flat-button
			onClick="window.open('https://pre-edit-ish07-vbh24.fse.intershop.de/INTERSHOP/web/WFS/VBHNL-VBH_NL-Site/nl_NL/smb-responsive/EUR/ViewHomepage-Start')"
		>
			Niederlande
		</button>
		<button
			mat-flat-button
			onClick="window.open('https://pre-edit-ish07-vbh24.fse.intershop.de/INTERSHOP/web/WFS/VBHRO-VBH_RO-Site/ro_RO/smb-responsive/EUR/ViewHomepage-Start')"
		>
			Rumänien
		</button>
	</mat-card-actions>
</mat-card>

<mat-card class="example-card">
	<mat-card-title>Pre-Production <span>Live</span></mat-card-title>
	<mat-card-subtitle>Back Office</mat-card-subtitle>
	<mat-card-actions>
		<button
			mat-stroked-button
			onClick="window.open('https://pre-live-ish07-vbh24.fse.intershop.de/INTERSHOP/web/BOS/SLDSystem')"
		>
			Back Office
		</button>
	</mat-card-actions>
	<mat-divider></mat-divider>
	<mat-card-title class="sec"
		>Pre-Production <span>Live</span></mat-card-title
	>
	<mat-card-subtitle>Storefront</mat-card-subtitle>
	<mat-card-actions class="row">
		<button
			mat-flat-button
			onClick="window.open('https://pre-live-ish07-vbh24.fse.intershop.de/INTERSHOP/web/WFS/VBHBE-VBH_BE-Site/nl_BE/smb-responsive/EUR/ViewHomepage-Start')"
		>
			Belgien
		</button>
		<button
			mat-flat-button
			onClick="window.open('https://pre-live-ish07-vbh24.fse.intershop.de/INTERSHOP/web/WFS/VBHDE-VBH_24-Site/de_DE/smb-responsive/EUR/ViewHomepage-Start')"
		>
			Deutschland
		</button>
		<button
			mat-flat-button
			onClick="window.open('https://pre-live-ish07-vbh24.fse.intershop.de/INTERSHOP/web/WFS/VBHES-VBH_ES-Site/es_ES/smb-responsive/EUR/ViewHomepage-Start')"
		>
			Spanien
		</button>
		<button
			mat-flat-button
			onClick="window.open('https://pre-live-ish07-vbh24.fse.intershop.de/INTERSHOP/web/WFS/VBHNL-VBH_NL-Site/nl_NL/smb-responsive/EUR/ViewHomepage-Start')"
		>
			Niederlande
		</button>
		<button
			mat-flat-button
			onClick="window.open('https://pre-live-ish07-vbh24.fse.intershop.de/INTERSHOP/web/WFS/VBHRO-VBH_RO-Site/ro_RO/smb-responsive/EUR/ViewHomepage-Start')"
		>
			Rumänien
		</button>
	</mat-card-actions>
</mat-card>
